h1{
    border: 20px solid red;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-right: 100px;
    width:100px ;
    margin: 40px auto; 
}
h2{
    border: 5px solid yellow;
    padding: 10px 20px;   /*(top  , bottom) */
    margin-left: 100px;
    margin-top: 60px;
    margin-right: 80px;
    margin-bottom: 50px;
    text-align: center;
    background-color: aquamarine;
    
}
