body{
    font-family: Arial, Helvetica, sans-serif;
}
header ul{
    padding-left:0px;
    text-align: center;

}
header{
    background-color: silver;

}
h2{
    color: #222;
}
li{
    display: inline-block;

    margin: 20px 20px;
    list-style: none;
    border-bottom:  1px solid rgb(83, 82, 82);
    font-size: 20px;
    text-transform: uppercase;
    
}
a{
    color: black;
    text-decoration: none;
}
article{
    margin-top:50px;
}



main{
    margin:10px 20px;
}
section h2{
    border-bottom: 1px solid black;
}